@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

/* Reset defaults */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f6f8; 
  font-family: 'Inter', sans-serif;
  color: #333;
}

/* TARGET THE REACT ROOT */
#root {
  /* display: grid;   */
  /* Three rows: Navbar (auto), Content (fills space), Footer (auto) */
  grid-template-rows: auto 1fr auto; 
  min-height: 100vh;
}

/* For Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type=number] {
  -moz-appearance: textfield;
}